APP_ENV=local
MLFLOW_TRACKING_URI=http://mlflow:5000
POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops
POSTGRES_DB=mlops
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_HOST_PORT=8082
AIRFLOW_UID=50000
